  .btn:focus,
  .navbar .navbar-header .navbar-brand {
      outline: none;
  }

  .btn {
      border-radius: 0;
  }

  * {
      text-transform: uppercase;
  }

   :not(.mix) {
      transition: all .6s ease-in-out;
  }

  a {
      text-decoration: none;
  }
  /* start navbar */

  .navbar-default {
      z-index: 99;
      background-color: #fff;
      box-shadow: 2px 2px 20px rgba(0, 0, 0, .7);
      border: none;
      border-radius: 0;
  }

  .navbar-default .navbar-nav>li>a {
      color: #000;
      font-size: calc(20px - 30%);
      font-weight: 500;
      padding: 20px 15px;
  }

  .navbar-default .navbar-brand {
      color: #000;
      font-size: 20px;
      padding: 20px;
      text-transform: uppercase;
  }

  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
      color: #fff;
      background: #000;
  }

  .navbar .navbar-brand:hover {
      color: #000;
      background: #fff;
  }
  /* start navbar */
  /* start slider */

  .slider {
      width: 100%;
      padding-bottom: 40px;
      position: relative;
  }

  #slider {
      height: 100vh;
  }

  .slider .item:after {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(2, 2, 2, .7);
      position: absolute;
      top: 0;
  }

  .slider .item img {
      width: 100%;
      height: 100vh;
  }

  .slider .item .carousel-caption {
      right: 0;
      left: 0;
      padding: 0;
      bottom: 30%;
      z-index: 999;
  }

  .slider .item .carousel-caption h3 {
      font-size: 25px;
      font-weight: 700;
      margin: 50px auto;
      margin-bottom: 10px;
  }

  .slider .item .carousel-caption p {
      font-size: 20px;
      margin: 50px auto;
      margin-top: 10px;
      color: #fff;
  }
  /*start mob section */

  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
      background-color: rgba(221, 221, 221, 0);
  }
  /*end mob section */
  /* end slider */
  /* end header */
  /* start present */

  .present {
      width: 100%;
      min-height: 250px;
      padding-top: 20px;
  }

  .present .image {
      width: 100%;
      height: 200px;
      position: relative;
      margin-bottom: 20px;
  }

  .present .image:hover .kind {
      display: block;
      cursor: pointer;
  }

  .present .image img {
      width: 100%;
      height: 100%;
      margin-bottom: -170px;
      z-index: 1;
  }

  .present .image .kind {
      width: 100%;
      height: 100%;
      z-index: 2;
      position: absolute;
      background: rgba(0, 0, 0, 0.58);
      margin-top: -29px;
      display: none;
      overflow: hidden;
  }

  .present .image .kind h1 {
      text-align: center;
      color: #fff;
      padding-top: 50px;
      font-weight: 700;
      margin-top: 150px;
  }

  .present .image .kind:hover h1 {
      margin-top: 20px;
  }

  .present .image .kind p {
      text-align: center;
      color: #fff;
      font-weight: 700;
  }

  .present .image .kind .fa {
      color: #fff;
      font-size: 17px;
      bottom: 9px;
      left: 11px;
      position: absolute;
  }
  /* end present */
  /* start products */

  .product {
      width: 100%;
      background: #ddd;
      padding-bottom: 25px;
      padding: 30px 0;
  }

  .product h1 {
      font-size: 40px;
      margin-bottom: 20px;
  }

  .product ul li:last-of-type {
      margin-right: 0;
  }

  .product ul {
      margin-bottom: 0;
  }

  .product ul li {
      display: inline-block;
      padding: 15px;
      margin-right: 15px;
      font-size: 18px;
      background: #fff;
      cursor: pointer;
      border: 1px solid #888;
  }

  .product ul li:hover {
      background: #000;
      color: #fff;
      border: 1px solid #fff;
  }

  .product .container .mix {
      padding-left: 0;
  }

  .product .container .img {
      width: 100%;
      height: 200px;
      position: relative;
      margin-top: 15px;
  }

  .product .container img {
      width: 100%;
      height: 100%;
      z-index: 1;
  }

  .product .container .img .cover {
      margin-top: -200px;
      background: rgba(0, 0, 0, 0.40);
      width: 100%;
      height: 100%;
      z-index: 2;
      position: absolute;
      overflow: hidden;
      display: none;
  }

  .product .container .img .cover h1 {
      text-align: center;
      color: #fff;
      margin-top: 195px;
      margin-bottom: -6px;
  }

  .product .container .img:hover .cover {
      display: block;
      cursor: pointer;
  }

  .product .container .img .cover:hover h1 {
      margin-top: 75px;
  }

  .product .container .img .cover p {
      color: #fff;
      text-align: center;
      font-weight: 700;
  }

  .product .container .img .cover .fa {
      color: #fff;
      font-size: 19px;
      bottom: 6px;
      left: 5px;
      position: absolute;
  }
  /* end products */
  /* start testimonials */

  .testi {
      min-height: 400px;
      background: url("../img/pexels-photo-206470.jpg")no-repeat center center fixed;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  .testi .cover {
      background: rgba(0, 0, 0, 0.48);
      min-height: 400px;
  }

  .testi .cover .container h1 {
      text-align: center;
      font-size: 35px;
      color: #fff;
      padding-bottom: 20px;
      padding-top: 100px;
  }

  .testi .cover .container p {
      text-align: center;
      color: #fff;
      letter-spacing: 3px;
  }

  .testi .cover .container span {
      color: #888;
      cursor: pointer;
      font-weight: 700;
  }

  .testi .cover #button {
      width: 200px;
      text-align: center;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 25px;
  }

  .testi .cover #button .btn:hover,
  .testi .cover #button .btn:focus {
      border: 1px solid #fff;
      background: #000;
      color: #fff;
      overflow: hidden;
      border-color: #fff;
  }
  /* end testimonials */
  /* start sale */

  .sale {
      padding: 30px 0;
  }

  .carousel-indicators {
      bottom: -2px;
  }

  .sale h1 {
      font-size: 40px;
      font-weight: 700;
      margin: 0;
  }

  .sale .row {
      margin-top: 30px;
  }

  .sale .carousel-inner {
      min-height: 300px;
      background: #ddd;
  }

  .sale img {
      width: 50%;
      height: 200px !important;
      float: right;
      margin-top: 30px;
  }

  .sale #myslide {
      margin-bottom: 30px;
  }

  .sale #sale {
      width: 100px;
      text-align: center;
      height: 60px;
      background: #000;
      top: 0;
      left: 0;
      padding-top: 10px;
      margin-bottom: -25px;
  }

  .sale #sale h5 {
      color: #fff;
      font-size: 22px;
  }

  .sale .left h2 {
      text-align: center;
      padding-top: 45px;
      font-size: 22px;
      font-weight: 700;
  }

  .sale .carousel-indicators .active,
  .sale .carousel-indicators li {
      background: #888;
      margin-left: 5PX;
  }

  .sale .left p {
      text-align: center;
      font-size: 18px;
      margin-bottom: 25px;
  }

  .sale .left #button {
      text-align: center;
      margin-bottom: 40px;
  }

  .sale .left #button .btn:hover,
  .sale .left #button .btn:focus {
      border: 1px solid #fff;
      background: #000;
      color: #fff;
      overflow: hidden;
      border-color: #fff;
  }
  /* end sale */
  /* start women */

  .men {
      background: #000;
      color: #fff;
      padding: 30px 0;
  }

  .men h1 {
      margin: 0 0 30px 0;
  }

  .men .image {
      width: 100%;
      height: 350px;
      margin-bottom: 30px;
      position: relative;
  }

  .men .image img {
      width: 100%;
      height: 100%;
      margin-bottom: -170px;
      position: relative;
      z-index: 1;
  }

  .men .image .kind {
      width: 100%;
      height: 100%;
      z-index: 2;
      position: absolute;
      background: rgba(0, 0, 0, 0.58);
      margin-top: -180px;
      display: none;
      overflow: hidden;
  }

  .men .image .kind h1 {
      text-align: center;
      color: #fff;
      font-weight: 700;
      margin-top: 290px;
  }

  .men .image .kind:hover h1 {
      margin-top: 50%;
  }

  .men .image .kind p {
      text-align: center;
      color: #fff;
      font-weight: 700;
  }

  .men .image .kind .fa {
      color: #fff;
      font-size: 17px;
      bottom: 9px;
      left: 11px;
      position: absolute;
  }
  /* end man */
  /* start app */

  .app {
      font-weight: 700;
      padding: 30px 0;
  }

  .app img {
      width: 200px;
      height: 200px;
    
  }

  .app .container h3 {
      color: #000;
      font-size: 25px;
      margin-top: 50px;
      margin-bottom: 20px;
  }

  .app .container .btn {
      background: #000;
      color: #fff;
  }

  .app .btn:hover,
  .app .btn:focus {
      background: #fff;
      color: #000;
  }

  .app .btn .fa {
      padding-left: 10px;
  }
  /* end app */
  /* start footer */

  footer {
      padding: 30px 0;
      background: #000;
      color: #fff;
  }

  footer a {
      color: #fff;
  }

  footer h4 {
      font-weight: 700;
  }

  footer h5 {
      font-size: 11px;
      color: #ddd;
  }

  footer ul {
      margin-top: 20px;
      padding: 0;
  }

  footer ul li {
      line-height: 30px;
  }

  footer #social li {
      margin-right: 15px;
      display: inline;
      text-align: center;
  }

  footer #social li:last-of-type {
      margin-right: 0;
  }

  footer a:hover {
      text-decoration: none;
      color: #888;
  }

  footer #social .fa {
      font-size: 12px;
      border: 2px solid #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 27px;
  }

  footer #social .fa:hover {
      background: #fff;
      color: #000;
  }

  footer form textarea.form-control {
      resize: none;
      height: 80px;
  }

  footer form .form-control {
      border-radius: 0;
      padding: 5px;
      font-size: 12px;
  }

  footer form .btn:hover {
      background: none;
      border: 1px solid #fff;
      color: #fff;
  }

  hr {
      margin: 0;
  }

  .copy-right {
      padding: 30px 0;
      background-color: #000;
      color: #fff;
      margin: 0;
  }

  #totop {
      position: fixed;
      background: #000;
      border: 1px solid #fff;
      color: #fff;
      right: 7px;
      bottom: 15px;
      z-index: 11111;
      font-weight: 700;
      padding: 5px 15px;
  }

  #totop:hover {
      background: #FFF;
      color: #000;
      border: 1px solid #000;
  }
  /* end footer */

  @media (max-width: 768px) {
      .present .image .kind,
      .product .container .img .cover,
      .men .image .kind {
          display: block;
      }
      .present .image .kind h1 {
          margin-top: 30px;
          margin-bottom: 5px;
      }
      .product .container .img .cover h1 {
          margin-top: 80px;
          margin-bottom: 5px;
      }
      .product ul li {
          padding: 0;
          width: 80px;
          margin: auto;
          margin-bottom: 5px;
          text-align: center;
      }
      .men .image .kind h1 {
          margin-top: 120px;
          margin-bottom: 5px;
      }
      .product .container .img .cover .fa,
      .product .container .img .cover p {
          font-size: 12px;
      }
      .present .image .kind {
          background: rgba(0, 0, 0, 0.35);
      }
      .product h1,
      .testi .cover h1,
      .sale h1,
      .men h1 {
          font-weight: 700;
          font-size: 30px;
      }
      .testi .cover .container #button {
          width: 90%;
      }
      .sale img {
          width: 100%;
          padding-top: 10px;
          margin-bottom: 10px;
      }
      .app img {
          width: 100%;
      }
  }