body {
    background: #f1f1f1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.form-control:focus,
.btn:focus {
    border: 1px solid #ed2330;
    box-shadow: none;
    outline: none;
}

.navbar-nav,
.valus .parent h6,
.valus .parent p,
.powers .parent h6,
.projects h6,
.projects h2,
.host h2,
.contact h2,
.team .carousel-item .right h2,
.image .social h5,
.latest h4 {
    font-family: OpenSans-Regular;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

.image .all h2,
.download .parent h2 {
    font-family: OpenSans-Bold;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

.image .all h6,
.powers .parent p,
.clients .carousel h3,
.clients .carousel p,
.host h6,
.contact h6,
.projects ul li,
.projects .parent .details .btn,
.projects .parent .details h6,
.projects .parent .details p,
.projects h4,
.projects .btn,
.team .carousel-item .right p,
.team .carousel-item .right h5,
.download .parent p,
.description .parent .all label,
.description .parent .all span,
.description .parent .title p {
    font-family: OpenSans-Light;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf");
}

.valus h2,
.powers h2,
.footer h6,
.description .parent .title h4 {
    font-family: OpenSans-Semibold;
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../fonts/OpenSans-Semibold.ttf");
}

/* start navbar */

.header {
    background: #fff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    min-height: 88px;
}

.header .navbar-brand img {
    width: 100px;
    height: 32px;
}

.header .navbar-nav {
    margin-top: 15px;
}

.header .navbar-nav .nav-item {
    margin-left: 30px;
    font-size: 20px;
}

.header .navbar-nav .nav-link {
    text-transform: capitalize;
}

.header .order {
    text-decoration: none;
    border: 1px solid #40bd64;
    padding: 9px 24px;
    border-radius: 30px;
    color: #40bd64;
    font-size: 16px;
    margin: 15px 0;
}

.header .order .fa {
    margin-left: 32px;
    font-size: 16px;
}

.navbar-toggler {
    width: 45px;
    height: 40px;
}

.navbar-toggler:focus {
    outline: none;
}

/* end navbar */

/* start image */

.image {
    background: url("../img/18.jpg");
    height: 100vh;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image .all {
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    top: 280px;
    right: 0;
}

.image .all h2 {
    font-size: 74px;
    color: #fff;
}

.image .all h6 {
    font-size: 20px;
    color: #ED2330;
}

.image .social img {
    width: 75%;
    position: relative;
    bottom: 5px;
}

.image .social h5 {
    position: absolute;
    bottom: 30px;
    color: #707070;
    font-size: 20px;
    left: 10%;
}

}

.navbar-toggler:focus {
    outline: none;
}

.navbar .icon {
    width: 30px;
    height: 3px;
    background: #777;
    position: absolute;
    transform: translate(-50%, -50%);
    right: 8px;
    transition: all 0.5s ease-in-out;
}

.navbar .icon:after,
.navbar .icon:before {
    content: "";
    width: 30px;
    height: 3px;
    background: #777;
    position: absolute;
    top: 50%;
    bottom: 1px;
    right: 0;
    margin: auto;
    transition: all 0.5s ease-in-out;
}

.navbar .icon:before {
    top: -15px;
}

.navbar .icon:after {
    top: 16px;
}

.navbar .navbar-toggler.active .icon {
    background: rgba(0, 0, 0, 0);
}

.navbar .navbar-toggler.active .icon:before {
    transform: rotate(45deg);
    top: 0;
}

.navbar .navbar-toggler.active .icon:after {
    transform: rotate(135deg);
    top: 0;
}

/* end image */

/* start valus */

.valus {
    padding: 50px 0;
}

.valus h2,
.powers h2,
.clients h2 {
    font-size: 50px;
    position: relative;
}

.valus h2:after,
.powers h2:after,
.clients h2:after {
    content: "";
    bottom: -15px;
    left: 0;
    right: 0;
    width: 79px;
    height: 2px;
    position: absolute;
    background: #ed2330;
    margin: auto;
}

.valus .parent {
    margin-top: 88px;
}

.valus .parent h6 {
    font-size: 18px;
    color: #000;
}

.valus .parent p {
    font-size: 14px;
    color: #707070;
    margin-top: 17px;
}

/* end valus */

/* start powers */

.powers {
    background: #fff;
    padding: 50px 0;
}

.powers .parent {
    margin-top: 65px;
}

.powers .parent h6 {
    font-size: 14px;
    margin-top: 16px;
    color: #707070;
}

.powers .parent p {
    margin-top: 12px;
    font-size: 14px;
    color: #707070;
}

/* end powers */

/* start clients */

.clients {
    padding: 50px 0;
}

.clients .carousel {
    padding: 88px 0;
}

.clients .carousel h3 {
    font-size: 50px;
}

.clients .carousel p {
    font-size: 24px;
    color: #ed2330;
    margin-top: 34px;
}

.clients .carousel-indicators {
    margin-top: 90px;
}

.clients .carousel-indicators li.active {
    background: #ed2330;
    width: 48px;
}

.clients .carousel-indicators li {
    background: #67696b;
    width: 24px;
    margin: 0 12px;
}

/* end clients */

/* start projects */

.projects {
    background: #fff;
    padding: 50px 0;
}

.works {
    padding: 50px 0;
}

.projects h6 {
    font-size: 11px;
    color: #3b3d41;
}

.projects #our {
    margin-top: 88px;
}

.projects h2 {
    font-size: 50px;
    margin-top: 16px;
}

.projects ul {
    margin-top: 30px;
    margin-bottom: 88px;
}

.projects ul li {
    width: 130px;
    display: inline-flex;
    justify-content: center;
    margin: 10px 20px;
    padding: 11px 48px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    background: #fff;
    border: 2px solid #f1f1f1;
}

.projects ul li.active {
    width: 130px;
    background: #f1f1f1;
    margin: 10px 20px;
    padding: 11px 48px;
    border-radius: 30px;
    font-size: 16px;
    color: #707070;
    display: inline-flex;
}

.projects .parent,
.latest .parent {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.projects .parent img,
.latest .parent img {
    width: 100%;
    height: 200px;
}

.projects .parent .details,
.latest .parent .details {
    position: absolute;
    width: 100%;
    margin: auto;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: #67696ba9;
}

.projects .parent:hover .details,
.latest .parent:hover .details {
    display: block;
    cursor: pointer;
}

.projects .parent .details h6,
.latest .parent .details h6 {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    transition: all 0.5s ease-in-out;
}

.projects .parent .details:hover,
.latest .parent .details:hover {
    padding-top: 30px;
}

.projects .parent .details p,
.latest .parent .details p {
    color: #fff;
    padding-top: 250px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    margin-top: 20px;
}

.projects .parent .details:hover p,
.latest .parent .details:hover p {
    padding-top: 0;
}

.projects .parent .details .btn,
.latest .parent .details .btn {
    color: #ed2330;
    background: #fff;
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 16px;
}

.projects h4 {
    color: #707070;
    font-size: 20px;
    margin-top: 87px;
    margin-bottom: 25px;
}

.projects .allProjects {
    background: #f1f1f1;
    font-size: 16px;
    color: #707070;
    padding: 11px 36px;
    border-radius: 30px;
    text-decoration: none;
}

/* end projects */

/* start contact */

.contact {
    padding: 50px 0;
}

.contact h2 {
    font-size: 50px;
}

.contact h6 {
    font-size: 20px;
    color: #707070;
    margin-top: 9px;
    margin-bottom: 65px;
}

.contact form1 {
    margin-bottom: 44px;
}

.contact form .form-control {
    border-radius: 20px;
    text-indent: 10px;
    height: 44px;
    width: 100%;
}

.contact #comment {
    width: 120%;
}

.contact .btn {
    background: #ed2330;
    color: #fff;
    border-radius: 30px;
    height: 44px;
    width: 100%;
    font-size: 20px;
}

/* end contact */

/* start footer */

.footer {
    background: #707070;
    padding: 30px 0 15px 0;
}

.footer ul {
    text-align: center;
}

.footer ul li {
    margin-right: 10px;
    display: inline-flex;
    line-height: 30px;
}

.footer ul li a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
    color: #888;
}

.footer ul .fa {
    font-size: 16px;
    border: 2px solid #707070;
    background: #fff;
    color: #707070;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 45px;
    transition: all .2s ease-in-out;
    margin-bottom: 10px;
}

.footer ul #linkedin:hover {
    background: #0077B5;
    color: #fff;
    border: 2px solid #fff;
}

.footer ul #instagram:hover {
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    color: #fff;
    border: 2px solid #fff;
}

.footer ul #facebook:hover {
    background: #4267B2;
    color: #fff;
    border: 2px solid #fff;
}

.footer ul #twitter:hover {
    background: rgb(26, 143, 206);
    color: #fff;
    border: 2px solid #fff;
}

.footer ul #email:hover {
    background: #E0222F;
    color: #fff;
    border: 2px solid #fff;
}

.footer ul #phone:hover {
    background: #000;
    color: #fff;
    border: 2px solid #fff;
}

.footer h6 {
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}

.footer ul #instagram:before {
    content: "\f16d";
}

/* end footer */

/* start download */

.download .parent {
    margin-top: 175px;
}

.download .parent h2 {
    font-size: 72px;
    margin-top: 88px;
}

.download .parent p {
    color: #707070;
    font-size: 16px;
    margin-top: 44px;
}

.download .parent .app {
    margin-top: 45px;
    padding: 0 20px;
}

.download .parent .app img {
    margin-right: 16px;
}

/* end  download*/

/* start  description*/

.description {
    margin: 30px 0;
}

.description .parent {
    background: #fff;
    padding: 30px 44px 30px 44px;
}

.description .parent .title {
    padding: 50px 0 35px 0;
    border-bottom: 1px solid #e4e4e4;
}

.description .parent h2 {
    font-size: 30px;
    color: #707070;
    text-transform: capitalize;
}

.description .parent .all-apps {
    border-bottom: 1px solid #e4e4e4;
    padding: 0 0 30px 0;
}

.description .parent .all {
    padding: 23px 0;
    border-bottom: 1px solid #e4e4e4;
}

.description .parent .app {
    text-align: right;
}

.description .parent .app a {
    text-decoration: none;
}

.description .parent .app .fa {
    color: #707070;
    margin: 0 10px;
}

.description .parent .all label {
    margin-right: 24px;
    background: #f1f1f1;
    font-size: 16px;
    padding: 11px 44px;
    border-radius: 30px;
}

.description .parent .all span {
    font-size: 14px;
    line-height: 45px;
    color: #707070;
    position: relative;
}

.description .parent .all span::before {
    content: "";
    width: 1px;
    height: 100px;
    left: -45px;
    bottom: 0;
    top: -23px;
    position: absolute;
    background: #e4e4e4;
}

.description .parent .title h4 {
    font-size: 38px;
    color: #707070;
    margin-top: 170px;
}

.description .parent .title p {
    font-size: 20px;
    color: #707070;
    margin-top: 70px;
}

.description .parent .title img {
    width: 100%;
}

/* end description */

/* start latest */

.latest {
    padding: 64px 24px;
}

.latest h4 {
    font-size: 24px;
    color: #707070;
    margin-bottom: 45px;
}

/* end latest */

/* start photo */

.photo {
    padding: 50px 0;
}

.photo img {
    width: 100%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

/* end photo */

@media (max-width: 767px) {
    .description .parent h2,
    .description .parent .app,
    .description .parent .title p {
        text-align: center;
        margin: 10px 0;
    }
    .navbar {
        line-height: 3;
    }
    .header .navbar-nav {
        text-align: center;
    }
    .header .navbar-nav .nav-item {
        margin-left: 0;
    }
    .image {
        height: 200px;
        background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        background-attachment: local;
        margin-top: 88px;
    }
    .image .all {
        position: absolute;
        margin: auto;
        left: 0;
        bottom: 0;
        top: 95px;
        right: 0;
    }
    /* .image .all .up {
        width: 100%;
        height: 100px;
    }
    */
    .image .social img {
        width: 300px;
        height: 40px;
    }
    .team .carousel-item .right p:after,
    .image .social h5,
    .team .carousel-item .right h5,
    .team .carousel-indicators,
    .order {
        display: none;
    }
    .image .social ul {
        bottom: -7px;
    }
    .image .social ul li {
        margin-right: 24px;
    }
    .image .social ul li .fa {
        font-size: 12px;
    }
    .valus h2,
    .powers h2,
    .clients h2,
    .projects h2 {
        font-size: 32px;
    }
    .clients .carousel h3,
    .host h2 {
        font-size: 24px;
    }
    .clients .carousel p,
    .host h6 {
        font-size: 14px;
    }
    .projects {
        padding: 45px 0;
    }
    .projects ul li {
        margin: 5px;
        padding: 10px 34px;
    }
    .projects ul li.active {
        margin: 5px 5px;
        padding: 10px 34px;
    }
    .projects .parent .details,
    .latest .parent .details {
        display: block;
    }
    .projects .parent .details h6,
    .latest .parent .details h6 {
        margin-top: 100px;
    }
    .projects .parent .details p,
    .latest .parent .details p {
        padding-top: 0;
    }
    .team {
        text-align: center;
    }
    .team h6 {
        display: none;
    }
    .team .carousel-item .left img {
        width: 80%;
        height: 280px;
        margin-top: 139px;
    }
    .team .carousel-item .left {
        padding: 0 0;
    }
    .team .carousel-item .right {
        padding: 0 0;
    }
    .team .carousel-item .right h2 {
        margin-top: 30px;
    }
    .team .carousel-item ul {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .team .carousel-item ul li {
        margin-top: 38px;
        margin-bottom: 91px;
    }
    .contact,
    .host,
    .powers,
    .valus {
        padding: 74px 0 100px 0;
    }
    .contact #comment {
        width: 100%;
    }
    .contact .btn {
        margin-top: 25px;
    }
    .image .img {
        position: absolute;
        top: 0;
        right: 0;
    }
    .image .all h2 {
        font-size: 24px;
    }
    .image .all h6 {
        font-size: 10px;
    }
    .download .parent h2 {
        font-size: 50px;
    }
    .download .parent .app {
        display: flex;
    }
    .description .parent .all span:before {
        display: none;
    }
    .footer ul li {
        margin-right: 0;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .image {
        height: 500px;
        background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        background-attachment: local;
        margin-top: 88px;
    }
    .image .all {
        position: absolute;
        margin: auto;
        left: 0;
        bottom: 0;
        top: 200px;
        right: 0;
    }
    .navbar {
        line-height: 3;
    }
    .image .all h2 {
        font-size: 55px;
    }
    .image .social ul {
        right: 5%;
    }
    .team .carousel-indicators li {
        margin-left: 0;
    }
    .order {
        display: none;
    }
}

@media (min-width: 1900px) {
    .image .all {
        position: absolute;
        margin: auto;
        left: 0;
        bottom: 0;
        top: 470px;
        right: 0;
    }
    .image .all h2 {
        font-size: 100px;
    }
}
